<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
  rel="stylesheet"
/>

<link href="/css/select.css" rel="stylesheet" />

<div class="form-add-books">
  <div class="form-header">
    <h2><%= data.type %> order</h2>
  </div>

  <form id="form-add-user" method="post" action="<%= data.url %> ">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Nhân Viên</label>
      <select
        class="selectpicker form-control"
        name="user"
        data-live-search="true"
      >
        <% data.users.forEach(function(user) { var selected =
        (data?.order?.user.toString().trim() == user?.id.toString().trim()) ?
        'selected' : ''; %>
        <option value="<%= user._id %>" <%="selected" %>
          ><%= user.full_name + ` (`+ user.account + `)`%>
        </option>
        <% }); %>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Sản phẩm</label>
      <select
        class="selectpicker form-control"
        name="product"
        data-live-search="true"
      >
        <% data.products.forEach(function(product) { var selected =
        (data?.order?.product.toString().trim() ==
        product?.id.toString().trim()) ? 'selected' : ''; %>
        <option value="<%= product._id %>" <%="selected" %>
          ><%= product.name %>
        </option>
        <% }); %>
      </select>
    </div>

    <div class="form-field <%= errors.quality ? 'form-field-invalid' : '' %>">
      <label for="quality">Số Lượng </label>
      <input
        class="input"
        type="number"
        id="quality"
        name="quality"
        min="1"
        value="<%= data?.order?.quality %>"
        autofocus
      />
      <% if (errors.quality) { %>
      <div class="error"><%= errors.quality.message %></div>
      <% } %>
    </div>

    <div class="form-actions d-flex justify-content-start align-items-center">
      <button
        onclick="location.href='/orders'"
        type="button"
        class="btn btn-danger"
        style="margin-right: 20px"
      >
        cancel
      </button>
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>

<script>
  $(function () {
    $(".selectpicker").selectpicker();
  });
</script>
