<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" /> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
  rel="stylesheet"
/>

<link href="/css/select.css" rel="stylesheet" />
<script src="/js/app.js"></script>

<div class="form-add-books">
  <div class="form-header">
    <h2><%= data.type %> kho</h2>
  </div>

  <form id="form-add-user" method="post" action="<%= data.url %> ">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Sản Phẩm</label>
      <select
        class="selectpicker form-control"
        {{--
        class="form-control"
        id="exampleFormControlSelect1"
        --}}
        name="product_id"
        data-live-search="true"
      >
        <% data.products.forEach(function(product) { var selected =
        (data?.warehouse?.product_id.toString().trim() ==
        product?.id.toString().trim()) ? 'selected' : ''; %>
        <option value="<%= product._id %>" <%="selected" %>
          ><%= product.name %>
        </option>
        <% }); %>
      </select>
    </div>

    <div
      class="form-field <%= errors.buy_quality ? 'form-field-invalid' : '' %>"
    >
      <label for="buy_quality">Số lượng </label>
      <input
        class="input"
        type="number"
        id="buy_quality"
        name="buy_quality"
        value="<%= data?.warehouse?.buy_quality %>"
        autofocus
      />
      <% if (errors.buy_quality) { %>
      <div class="error"><%= errors.buy_quality.message %></div>
      <% } %>
    </div>

    <div class="form-actions d-flex justify-content-start align-items-center">
      <button
        onclick="location.href='/warehouses'"
        type="button"
        class="btn btn-danger"
        style="margin-right: 20px"
      >
        cancel
      </button>
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
<script>
  $(function () {
    $(".selectpicker").selectpicker();
  });
</script>
